<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="styles/style.css">
  <%- jsLibs %>
  <%- cssLibs %>
	<title>Qyto | Sign Up</title>
</head>
<body>
	<div class = "container">
		<div id = "home-box">
			<span id = "title">Qyto</span>
			<p>Create a free account. It's worth it!</p>
        <input class = "input-entity full-width" id = "email" type = "text" placeholder = "Email"/><br/>
        <input class = "input-entity full-width" id = "fname" type = "text" placeholder = "First Name"><br/>
        <input class = "input-entity full-width" id = "lname" type = "text" placeholder = "Last Name"><br/>
        <input class = "input-entity full-width" id = "username" type = "text" placeholder = "Username"/><br/>

        <input class = "input-entity full-width" id = "password" type = "password" placeholder = "Password"><br/>
        <input class = "input-entity full-width" id = "confirmPassword" type = "password" placeholder = "Confirm Password">

			<button id = "create">Create</button>
			<a id = "create-account" href = "/">Already have an account? Sign in!</a>
		</div>
	</div>
	<script src = "scripts/create.js"></script>
</body>
</html>